MONGO_URI=mongodb://mongo:27017
MONGO_DB=skin_market
REDIS_URL=redis://redis:6379
WORKER_COUNT=2
SCHEDULE_INTERVAL=3600
REQUEST_DELAY=1.5
CPU_COUNT=2
SECRET_KEY=zmien-na-cos-losowego
STEAM_SESSION_ID=twoja_wartosc_sessionid
STEAM_LOGIN_SECURE=twoja_wartosc_steamLoginSecure